.nav-bar {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;

  button.active {
    border-radius: 0;
    border-bottom: 2px solid orange;
  }
}

.content {
  display: flex;
  height: calc(100% - 64px);
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
